@media only screen and (min-width:300px) and (max-width:700px) {

    .social {
        display: block !important;
        display: flex !important;
        justify-content: start;
    }

    .project-item img {
        height: 100px;
    }

    .project-caption {
        font-size: 12px;
    }

    .accordion-button {
        font-size: 14px;
        font-family: initial;
    }

    .accordion-button::after {
        background-size: 15px !important;
    }

    .services-section {
        padding: 30px 0px;
    }

    .service-card h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 15px;
        font-family: initial;
        color: #3d3d3db6;
    }

    .section-subtitle {
        font-size: 22px;
    }

    .timeline-content h4 {
	font-size: 18px;
	font-weight: 500;
}
label {
  display: inline-block;
  font-family: Lemonada;
  font-size: 12px;
}
.btn-drk {

	font-size: 11px !important;
	font-family: Lemonada !important;
}
    .service-card p {
        font-size: 10px;
        color: gray;
        text-align: justify;
    }

    .service-card {
        height: auto;
        overflow: hidden;
        padding: 10px;

    }

    .icon-box {
        width: 50px;
        height: 50px;
        font-size: 21px;
    }

    .crd_car {
        padding: 20px 10px;
    }

    .row14 {
        --bs-gutter-x: 10px !important;
    }

    .services-container {
        margin-top: 25px;
    }

    .topic {
        font-size: 22px;
    }

    .accordion-body {
        font-size: 12px;
        text-align: justify;
        line-height: 25px !important;
    }

    .accordion-header {
        font-size: 14px !important;
    }

    .accordion-button:not(.collapsed) {
        color: white;
    }

    .text-head {
        font-size: 24px;
        font-weight: 500;
    }

    .bdg {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

    }

    .text-head-one {
        font-size: 18px;
    }

    .employee {
        display: none !important;
    }

    /* .navbar{
        background-color: white !important;
        display: none;
    } */
    .lis {
        font-size: 14px;
    }

    nav {
        & ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            column-gap: 5px;
            margin: 0px;
            padding: 0px;
        }
    }

    #home {
        opacity: 0.9 !important;
        padding: 0px !important;
        /* background: none !important; */

    }

    .dont {
        display: none !important;
    }

    .less {
        padding: 10px !important;
        text-align: center !important;
    }

    #services {
        opacity: 1 !important;
        padding: 0px !important;
    }

    #about {
        opacity: 0.9;
        padding: 45px 10px !important;
    }

    .content {
        padding: 5px !important;
        font-size: 11px;
        /* font-weight: 500; */
        color: grey !important;
    }

    #projects {
        opacity: 1 !important;
        padding: 45px 0px !important;
    }

    .prj-btn {
        margin-bottom: 20px;
    }

    .prj-title {
        font-size: 24px;
    }

    .topic {
        font-size: 26px;
    }

    #contact {
        opacity: 0.9 !important;
        padding: 45px 5px !important;
    }

    .raw {
        margin-top: 10px !important;
    }

    footer {
        opacity: 1 !important;
    }

    input[type="text"] {
        height: 40px !important;
    }

    input[type="email"] {
        height: 40px !important;
    }

    .marg {
        margin-top: 10px !important;
    }

    .box-panel {
        display: none;
    }

    .visi {
        display: block !important;
    }

    .project {
        display: block !important;
    }

    .images {
        display: none !important;
    }

    .cursor {
        display: none;
    }

    form {
        margin-top: 20px;
    }

    ul li {
        margin: 0px 8px 0px 0px !important;
    }

    .showall {
        /* background-image: url(../images/IMG20230203141046.jpg) !important;
        background-size: cover;
        background-attachment: fixed !important; */
        background-color: white;
    }



}


@media only screen and (min-width:990px) and (max-width:1500px) {

    #navbarSupportedContent {
        float: left !important;
    }

}